* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

main {
    display: inline-block;
    width: 100%;
    height: 15%;
}

#logo {
    width: 25%;
    height: auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

#logoimg {
    display: inline-block;
    max-height: 100%;
}

#searchHeader {
    font-family: 'Carter One', cursive;
}

#mapDisplay {
    display: block;
    width: 100%;
    height: 70%;
    padding: 5px;
}

#search {
    width: 74%;
    height: auto;
    display: inline-block;
    font-family: Arial;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#footer {
    height: 8%;
    background-color: #15781B;
    display: block;
    width: 100%;
    vertical-align: middle;
    position: relative;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

#footer p {
    position: relative;
    left: 0;
    display: inline-block;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

#footerLinks {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 22%;
}

#github {
    padding-right: 5px;
}

#map {
    display: inline-block;
    height: 100%;
    width: 74%;
}

#sideBar {
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px;
    width: 25%;
    height: 100%;
}

#beerMug {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.hidden {
    display: none;
}

#buttonDisplay {
    margin-top: 5%;
    height: 5%;
    position: relative;
    width: 100%;
    margin-right: 15px;
}

#valueForm {
    display: block;
    height: 100%;
}

#nextButton {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

#results {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 90%;
    font-family: 'PT Sans', sans-serif;
}

.searchResult {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.searchResult:nth-child(even) {
    background-color: #77CC7D;
}

.searchResult:nth-child(odd) {
    background-color: #A9E2AD;
}

.locationName {
    font-weight: bold;
}

#newSearch {
    margin-top: 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-family: 'Carter One', cursive;
    font-size: 1.5em;
}

.button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 620px) {

    #logo {
        width: 100%;
        display: block;
    }

    #search {
        width: 100%;
        display: block;
    }

}
